---
import "@/styles/global.css";
import BackLight from "@/components/BackLight.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Sistemas de Administración de Notas</title>
    <ClientRouter />
  </head>
  <body class:list={["w-screen h-screen", [className]]}>
    <!--<BackLight />-->
    <slot />
  </body>
</html>
